#hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.sliders {
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: row;
}
.sliders button {
  margin: 10px;
}
