#hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: url("../../img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  position: relative;
}
#hero h1 {
  text-transform: uppercase;
}
#hero h1,
#hero h3 {
  color: white;
}

.sliders {
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: row;
}
.sliders button {
  margin: 10px;
}

@keyframes test {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
