#hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: url("../../img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  position: relative;
}
#hero h1 {
  text-transform: uppercase;
}
#hero h1,
#hero h3 {
  color: white;
}
.sliders {
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: row;
}

.slider {
  margin: 30px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  width: 10px;
  height: 10px;
}
.slider:hover {
  background-color: #c7c7c7;
}
.slider:clicked {
  background-color: red;
}
.slider-active {
  margin: 30px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  width: 10px;
  height: 10px;
  background-color: white;
}
/* .slider::after {
  position: absolute;
  top: -3px;
  left: -3px;
  display: "block";
  content: "";

  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-color: white;
} */

/* @keyframes test {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
